*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}

/**rgb(4, 29, 49);*/

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding:20px 100px;
    background-color: rgb(4, 29, 49);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index:99;
  
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('nature1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}


.logo{
    color: white;
    font-size: 2em;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    padding-left: 30px;
}
.navigation a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btn{
    width: 130px;
    height: 50px;
    background-color: transparent;
    color: white;
    border:2px solid white;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 6px;
    margin-left: 40px;
}

.navigation .btn:hover{
    background-color: white;
    color:rgb(4, 29, 49) ;
}

.wrapper{
    position: relative;
    width: 300px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition:transform 0.10s ease,height .2s ease;
    overflow: hidden;
    transform: scale(0);
}

.wrapper.active-login{
    transform: scale(1);
}

.wrapper.active{
    height: 500px;
}

.wrapper .form-box.login{ 
    transition: transform .18s ease;
    transform: translateX(0);  
}

.wrapper.active .form-box.login{
    transition:none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.wrapper.active .form-box.register{
    transition:transform .18s ease;

    transform: translateX(0);
}

/*.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color:#162938;
    text-align:center ;
}*/

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
}

.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    color: #162938;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-evenly;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.submit{
    background-color: #162938;
    color: white;
    border:none;
    border-radius: 6px;
    outline: none;
    width: 100%;
    height: 35px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 15px;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
    color: #162938;
}

